<h2>Command Queue</h2>
<div class="command-queue">
</div>

<h2>Command History</h2>
<div class="command-history">
</div>

<div class="user-input">
  <input type="text" class="name-input" placeholder="User Name"/>
  <input type="text" class="command-input" placeholder="Enter Command"/>
  <button class="command-btn">Submit</button>
</div>
