<!DOCTYPE html>
<html>
  <head>
    <title>threePiO</title>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="stylesheets/threepio.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="page-header">
        <h1>threePiO</h1>
      </div>
      {{{@body}}}
    </div>
  </body>
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/threepio.js"></script>
</html>
